<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adopt">
  
	<sql id="selectShelter">
		<if test="name != null">
			WHERE name = #{name}
		</if>
	</sql>
	
	<select id="getList" parameterType="adoptDto" resultType="adoptDto">
		SELECT *
		FROM
			(SELECT result2.*, ROWNUM AS rnum
			FROM 
				(SELECT a.num, name, title, writer, viewCount,
				TO_CHAR(a.regdate,'YYYY.MM.DD') regdate
				FROM board_adopt a INNER JOIN shelter ON writer = id
				<include refid="selectShelter"/>
				ORDER BY num DESC) result2)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="adoptDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_adopt INNER JOIN shelter
		ON writer = id
		<include refid="selectShelter"/>
	</select>
	
	<select id="getData" parameterType="adoptDto" resultType="adoptDto">
		SELECT *
		FROM
			(SELECT a.num, name, title, viewCount, writer, breed, petName, petAge, petGender, 
			vaccination, neutralization, findDate, caption, orgImageName, imagePath,
			TO_CHAR(a.regdate,'YYYY.MM.DD') regdate,  
			LAG(a.num, 1, 0) OVER (ORDER BY a.num DESC) AS prevNum,
			LEAD(a.num, 1, 0) OVER (ORDER BY a.num DESC) AS nextNum
			FROM board_adopt a INNER JOIN shelter
			ON writer = id
			<include refid="selectShelter"/>
			)
		WHERE num = #{num}
	</select>
	
	<update id="addViewCount" parameterType="int">
		UPDATE board_adopt
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<insert id="insert" parameterType="adoptDto">
		INSERT INTO board_adopt
		(num, title, writer, breed, petName, petAge, petGender, vaccination, 
		neutralization, findDate, caption, orgImageName, imagePath, regdate)
		VALUES(board_adopt_seq.NEXTVAL, #{title}, #{writer}, #{breed}, #{petName}, #{petAge}, #{petGender}, #{vaccination}, 
		#{neutralization}, #{findDate}, #{caption}, #{orgImageName}, #{imagePath}, SYSDATE)
	</insert>

	<update id="update" parameterType="adoptDto">
		UPDATE board_adopt
		SET title=#{title}, breed=#{breed}, petName=#{petName}, petAge=#{petAge}, petGender=#{petGender}, 
		vaccination=#{vaccination}, neutralization=#{neutralization}, findDate=#{findDate}, 
		caption=#{caption}, imagePath=#{imagePath}, orgImageName=#{orgImageName}
		WHERE num=#{num}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM board_adopt
		WHERE num=#{num}
	</delete>
	
	<select id="mainBirthData" resultType="adoptDto">
		SELECT *
		FROM
			(SELECT result2.*, ROWNUM AS rnum
			FROM 
				(SELECT a.num, name, title, breed, petName, petAge, petGender, 
				TO_CHAR(a.regdate,'YYYY.MM.DD') AS regdate
				FROM board_adopt a INNER JOIN shelter ON writer = id
				ORDER BY a.regdate DESC) result2)
		WHERE rnum = 1
	</select>

	<select id="mainBirthList" resultType="adoptDto">
		SELECT *
		FROM
			(SELECT result2.*, ROWNUM AS rnum
			FROM 
				(SELECT a.num, name, title, breed, petName, petAge, petGender, 
				TO_CHAR(a.regdate,'YYYY.MM.DD') AS regdate
				FROM board_adopt a INNER JOIN shelter ON writer = id
				ORDER BY a.regdate DESC) result2)
		WHERE rnum BETWEEN 2 AND 12
	</select>
	
</mapper>