<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserve">

	<select id="getList" parameterType="reserveDto" resultType="reserveDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT r.num, shelterName, title, writer, viewCount, 
				TO_CHAR(r.regdate,'YYYY.MM.DD') regdate, checked, scope, id
				FROM reserve r INNER JOIN shelter s
				ON shelterName = s.name
				ORDER BY r.num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM reserve
	</select>
	
	<insert id="insert" parameterType="reserveDto">
		INSERT INTO reserve
		(num, title, scope, pwd, writer, shelterName, reservedDate, reservedTime, name, phoneNumber, content,
		regDate)
		VALUES(reserve_seq.NEXTVAL, #{title}, #{scope}, #{pwd}, #{writer}, #{shelterName}, #{reservedDate}, 
		#{reservedTime}, #{name}, #{phoneNumber}, #{content}, SYSDATE)
	</insert>

	<select id="getData" parameterType="int" resultType="reserveDto">
		SELECT num, shelterName, title, writer, viewCount, 
		TO_CHAR(regdate,'YYYY.MM.DD') regdate, reservedDate, reservedTime, 
		name, phoneNumber, content, checked, scope
		FROM reserve
		WHERE num = #{num}
	</select>

	<update id="addViewCount" parameterType="int">
		UPDATE reserve
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<update id="update" parameterType="reserveDto">
		UPDATE reserve
		SET scope=#{scope}, pwd=#{pwd}, shelterName=#{shelterName}, title=#{title}, reservedDate=#{reservedDate}, reservedTime=#{reservedTime},
		name=#{name}, phoneNumber=#{phoneNumber}, content=#{content}
		WHERE num=#{num}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM reserve
		WHERE num=#{num}
	</delete>
	
	<select id="getCheckedList" resultType="shelterDto">
		SELECT id, name
		FROM shelter
	</select>
	
	<update id="getCheckedY" parameterType="int">
		UPDATE reserve
		SET checked='yes'
		WHERE num=#{num}
	</update>
	
	<update id="getCheckedN" parameterType="int">
		UPDATE reserve
		SET checked='no'
		WHERE num=#{num}
	</update>
	
	<select id="getDetailPwd" parameterType="int" resultType="reserveDto">
		SELECT pwd
		FROM reserve
		WHERE num=#{num}
	</select>
	
</mapper>