<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserve">

	<select id="getList" parameterType="reserveDto" resultType="reserveDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, shelterName, title, writer, viewCount, regdate
				FROM reserve
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM reserve
	</select>
	
	<insert id="insert" parameterType="reserveDto">
		INSERT INTO reserve
		(num, title, writer, shelterName, reservedDate, reservedTime, name, phoneNumber, regDate)
		VALUES(reserve_seq.NEXTVAL, #{title}, #{writer}, #{shelterName}, #{reservedDate}, #{reservedTime}, 
		#{name}, #{phoneNumber}, SYSDATE)
	</insert>

	<select id="getData" parameterType="int" resultType="reserveDto">
		SELECT num, shelterName, title, writer, viewCount, regdate, reservedDate, reservedTime, 
		name, phoneNumber, content
		FROM reserve
		WHERE num = #{num}
	</select>

	<update id="addViewCount" parameterType="int">
		UPDATE reserve
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<update id="update" parameterType="reserveDto">
		UPDATE reserve
		SET shelterName=#{shelterName}, title=#{title}, reservedDate=#{reservedDate}, reservedTime=#{reservedTime},
		name=#{name}, phoneNumber=#{phoneNumber}, content=#{content}
		WHERE num=#{num}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM reserve
		WHERE num=#{num}
	</delete>
	
</mapper>