@charset "UTF-8";


@keyframes rotateAni{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}
   
   
.board-wrap{
	font-family: 'Lato', 'Noto Sans KR';
	font-weight:400;
	color:#222;
	min-height:1200px;
	padding-bottom:100px;
}
.board-wrap.form-wrap .container{
	max-width:900px;
	margin:0 auto;
}
.img-wrapper{
	position:relative;
    height: 360px;
    overflow:hidden
 }
 .img-wrapper::before{
 	content:"";
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
 	position:absolute;
 	opacity:0.35;
    background-image:url(/spring/resources/images/logo_txt.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index:0;
 }
 
  .img-wrapper:hover::after{
  	content:"";
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  	z-index:1;
  	background:rgba(255,255,255,0.3);
  	transition: background 0.3s ease-out;
  }
  .card{
  	border:0;
  	margin-bottom:3rem;
  }
  .card-body{
  	padding: 2rem 1rem;
  }
.card-regdate{
 	margin-bottom:10px;
 	font-family: 'Lato', sans-serif;
 	font-size:0.8rem;
 	color:#aaa;
 }
  .card .card-tit{
 	font-family: 'Noto Sans KR', sans-serif;
    display:block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.2rem;
    height: 3.3rem;
 }
 .card .card-txt{
 	font-family: 'Noto Sans KR', sans-serif;
    display:block;
    color:#777;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top:24px;
    font-size: 0.9rem;
    height:2.9rem;
 }
 .card .card-txt *{
 	font-family: 'Noto Sans KR', sans-serif;
 	font-size:1rem;
 	color:#777;
 	text-align:left;
 }
 .img-wrapper img{
 	position:relative;
 	z-index:1;
   height: 100%;
   object-fit: cover;   
   transform: scale(1);
   transition: transform 0.3s ease-out;
 }
.img-wrapper:hover img{
    transform: scale(1.05);
 }
 .pagination>ul{
	display:flex;
	align-items:center;
	justify-content:center;
 }
/* 댓글 프로필 이미지를 작은 원형으로 만든다. */
.profile-image{
   width: 50px;
   height: 50px;
   border: 1px solid #cecece;
   border-radius: 50%;
}
/* ul 요소의 기본 스타일 제거 */
.comments ul{
   padding: 0;
   margin: 0;
   list-style-type: none;
}
.comments dt{
   margin-top: 5px;
}
.comments dd{
   margin-left: 50px;
}
.comment-form textarea, .comment-form button{
   float: left;
}
.comments li{
   clear: left;
}
.comments ul li{
   border-top: 1px solid #888;
}
.comment-form textarea{
   width: 84%;
   height: 100px;
}
.comment-form button{
   width: 14%;
   height: 100px;
}
/* 댓글에 댓글을 다는 폼과 수정폼은 일단 숨긴다. */
.comments .comment-form{
   display: none;
}
/* .reply_icon 을 li 요소를 기준으로 배치 하기 */
.comments li{
   position: relative;
}
.comments .reply-icon{
   position: absolute;
   top: 1em;
   left: 1em;
   color: red;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}   
.loader{
   /* 로딩 이미지를 가운데 정렬하기 위해 */
	text-align: center;
	/* 일단 숨겨 놓기 */
    display: none;
}   
.loader svg{
	animation: rotateAni 1s ease-out infinite;
}
#content{
	height: 500px;
}
.insertForm{
		text-align:left;
}	
.insertFormList{
	padding-bottom:6px;
	text-align:left;
}
.scopeLabel{
	margin-right:14px;
}
.scopeInput{
	margin-right:4px;
}
.updateForm{
	text-align:left;
}	
.updateFormList{
	padding-bottom:6px;
}

.formBtn{
	text-align:center;
	margin-top:32px;
}
.formBtnList{
	margin:0 4px;
}
.formBtn{
	text-align:center;
	margin-top:32px;
}
.formBtnList{
	margin:0 4px;
	}
.formBtn{
	text-align:center;
	margin-top:32px;
}
.formBtnList{
	margin:0 4px;
}

/* 디테일 페이지 */
.detail-wrap{
	font-family: 'Noto Sans KR', sans-serif;
	max-width:1020px;
	background:#fff;
	margin:0 auto;
}
.detail_tit{
	font-size:2rem;
}
.detail_content{
	padding-top:2rem;
	margin-top:2rem;
	border-top:1px solid #ddd;
}
.detail_content *{
	font-family: 'Noto Sans KR', sans-serif;
}
.detail_info{
	margin-top:2rem;
	margin-bottom:1rem;
}
.detail_info>span{
	position:relative;
	margin-right:12px;
}
.detail_info>span::after{
    content: "";
    position: absolute;
    top: 6px;
    right: -6px;
    width: 2px;
    height: 14px;
    background: #ddd;
}
.detail_info>span:last-of-type::after{
	display:none;
}
.detail-bottom{
	padding-top:2rem;
	margin-top:2rem;
	border-top:1px solid #ddd;
	display:flex;
	align-items:center;
	justify-content:center;
}
.detail-bottom>li{
	margin:0 0.4rem;
}

.movePage-wrap{
	margin-top:60px;
	display:flex;
	align-items:center;
}
.movePage-wrap>li{
	flex:1;
	text-align:center;
}
.movePage-wrap>li>a{
	padding:1.2rem 0;
}
.board-wrap{
	text-align:center;
}
.reserveContent{
	margin-bottom:30px;
}
.reserveBoard{
	width: 100%;
    margin-top: 10px;
    border-top: 2px solid #bb9b6a;
}
.newContent{
	display:block;
	text-align:left;
	margin-bottom:26px;
}
.newContentLink{
	display:inline;
	padding:10px;
	background-color:#bb9b6a;
	border-radius:4px;
	color:white;
	font-size:1rem;
}
.boardRow{
	border-bottom:1px solid #dadada;
}
.boardHeader{
	padding:16px 0;
}
.boardColumn{
	padding:18px 0;
}
.contentTitle{
	text-align:left; padding-left:40px;
}
.contentTitleLink{
	display:inline;
}
.commentCount{
	margin-left:px;
	color:red;
}
.reserveCheck{
	display:inline;
	font-weight:bold;
	color:red;
}
.reserveChecking{
	display:inline;
	font-weight:bold;
	color:#948780;
}













