@charset "UTF-8";


@keyframes rotateAni{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}
   
   
.board-wrap{
	min-height:1200px;
	padding-bottom:100px;
}
.img-wrapper{
	position:relative;
    height: 400px;
    overflow:hidden
 }
 .img-wrapper::before{
 	content:"";
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
 	position:absolute;
 	opacity:0.35;
    background-image:url(/spring/resources/images/logo_txt.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index:0;
 }
 
  .img-wrapper:hover::after{
  	content:"";
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  	z-index:1;
  	background:rgba(255,255,255,0.3);
  	transition: background 0.3s ease-out;
  }
  .card{
  	border:0;
  }
 .card .card-text{
    display:block;
    white-space : nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .img-wrapper img{
 	position:relative;
 	z-index:1;
   width: 100%;
   height: 100%;
   object-fit: contain;   
   transform: scale(1);
   transition: transform 0.3s ease-out;
 }
.img-wrapper:hover img{
    transform: scale(1.05);
 }
 .pagination>ul{
	display:flex;
	align-items:center;
	justify-content:center;
 }
 
 
 .content{
      border: 1px dotted gray;
   }
   
   /* 댓글 프로필 이미지를 작은 원형으로 만든다. */
   .profile-image{
      width: 50px;
      height: 50px;
      border: 1px solid #cecece;
      border-radius: 50%;
   }
   /* ul 요소의 기본 스타일 제거 */
   .comments ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
   }
   .comments dt{
      margin-top: 5px;
   }
   .comments dd{
      margin-left: 50px;
   }
   .comment-form textarea, .comment-form button{
      float: left;
   }
   .comments li{
      clear: left;
   }
   .comments ul li{
      border-top: 1px solid #888;
   }
   .comment-form textarea{
      width: 84%;
      height: 100px;
   }
   .comment-form button{
      width: 14%;
      height: 100px;
   }
   /* 댓글에 댓글을 다는 폼과 수정폼은 일단 숨긴다. */
   .comments .comment-form{
      display: none;
   }
   /* .reply_icon 을 li 요소를 기준으로 배치 하기 */
   .comments li{
      position: relative;
   }
   .comments .reply-icon{
      position: absolute;
      top: 1em;
      left: 1em;
      color: red;
   }
   pre {
     display: block;
     padding: 9.5px;
     margin: 0 0 10px;
     font-size: 13px;
     line-height: 1.42857143;
     color: #333333;
     word-break: break-all;
     word-wrap: break-word;
     background-color: #f5f5f5;
     border: 1px solid #ccc;
     border-radius: 4px;
   }   
   
   .loader{
      /* 로딩 이미지를 가운데 정렬하기 위해 */
      text-align: center;
      /* 일단 숨겨 놓기 */
      display: none;
   }   
   
   .loader svg{
      animation: rotateAni 1s ease-out infinite;
   }
   
   
   
   
   #content{
		height: 500px;
	}