@charset "UTF-8";

/* meun */
#header{
    height:120px;
}
.top{
    height:44px;
    border-bottom:1px solid #ddd;
}
.nav-bar{
    height:76px;
    display:flex; 
    align-items:center; 
    justify-content: space-between;
}
.nav-bar .logo{
    text-decoration: none;
    color:#222;
    display:flex;
    align-items:center;
    font-size:2.2rem;
    font-weight:600;
    font-family: 'Cormorant Garamond', 'Nanum Myeongjo';
}
.logo img{
    margin-right:10px;
    width:38px;
}
.nav-bar .menu-wrap{
    display:flex; 
    align-items:center; 
    justify-content:flex-start; 
    list-style:none;
}
.menu-list{
    margin-left:20px;
}
/* footer */
.footer{
    background:#232323; 
    color:#aaa; 
    padding:80px 0;
}


