@charset "UTF-8";

/* slide animation */
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes cutTextUp {
  from {
    clip-path: inset(0 0 -10% 0);
  }
  to {
    clip-path: inset(0 0 100% 0);
  }
}
@keyframes cutTextDown {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}
@keyframes cutTextDownFromTop {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}
@keyframes rectMovement {
  0% {
    transform: translateX(0) rotate(0) translateY(0%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(0%);
    opacity: 0;
  }
}
@media (max-height: 730px) {
  @keyframes rectMovement {
    0% {
      transform: translateX(0) rotate(0) translateY(0%);
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(0%);
      opacity: 0;
    }
  }
}
@keyframes rectMovementFromRight {
  0% {
    transform: translateX(calc(48vh)) rotate(12deg) translateY(0%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0) translateY(0%);
    opacity: 1;
    @media (max-height: 730px) {
      transform: translateX(0) rotate(0) translateY(0%);
    }
  }
}
@media (max-height: 730px) {
  @keyframes rectMovementFromRight {
    0% {
      transform: translateX(calc(48vh)) rotate(12deg) translateY(0%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0) translateY(0%);
      opacity: 1;
    }
  }
}
@keyframes rectMovementRight {
  0% {
    transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(0%);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0) translateY(0%);
    opacity: 1;
    @media (max-height: 730px) {
      transform: translateX(0) rotate(0) translateY(0%);
    }
  }
}
@media (max-height: 730px) {
  @keyframes rectMovementRight {
    0% {
      transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(0%);
    }
    40% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) rotate(0) translateY(0%);
      opacity: 1;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* intro animation */
@keyframes ball {
    from{
        transform:translate3d(0px, 0px, 0px);
    }
    to{
        transform:translate3d(0px, 60px, 0px);
    }
}




.btns_viewmore{
  position:absolute;
  top:60%;
  left:32%;
  z-index: 10;
}
.btns_viewmore .btns_arrow {
    display: inline-block;
    vertical-align: top;
}
.btns_viewmore .btns_arrow > a:first-child {
    margin-bottom: 20px;
}
.btns_viewmore .btns_arrow > a {
    display: block;
}
.gu_btn_arrow {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.gu_btn_arrow .svg_circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate( -180deg );
    -ms-transform: rotate(-180deg);
    transform: rotate( -180deg );
    will-change: transform;
}
.gu_btn_arrow:hover .svg_circle circle{
  visibility: visible;
  fill: transparent;
  stroke-dashoffset:0;
}
.gu_btn_arrow .svg_circle circle {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.gu_btn_arrow img {
    position: relative;
}
#slide-time{
  position:absolute;
  top:20%;
  left:12%;
  z-index:100;
  display:flex;
  align-items:baseline;
}
.btns_num .btns_num_box {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.btns_num .btns_num_box a {
  position: relative;
  display: inline-block;
  padding:30px 0;
  width: 70px;
  opacity: 0.5;
  line-height: 1;
  font-size: 14px;
  text-indent: 9px;
  color:#fff;
  text-decoration: none;
}
.btns_num .btns_num_box a.on {
  opacity: 1;
}
.btns_num .btns_num_box a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 30px;
  background-color: #fff;
}
.btns_num .btns_num_box a.on:before {
  background-color: rgba(255,255,255,0.3);
}
.btns_num .btns_num_box a.on:after {
    width: 100%;
    -ms-transition: width 5s linear;
    transition: width 5s linear;
}
.btns_num .btns_num_box.paused a.on:after {
    width: 100% ;
    -ms-transition: width 0.3s;
    transition: width 0.3s;
}
.btns_num .btns_num_box a:after {
    position:absolute;
    bottom:0;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 30px;
    background-color: #fff;
}
.btns_num .btn_playStop {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 10px;
    top: 36px;
    left: 20px;
    overflow:hidden;
}
.btns_num .btn_playStop.on:before {
    opacity: 0;
}
.btns_num .btn_playStop:before {
    opacity: 1;
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background: url(https://www.shinsegae.com/resources/site/img/main/ico_kv_pause.png) no-repeat 0 0;
}
.btns_num .btn_playStop.on:after {
    opacity: 1;
}
.btns_num .btn_playStop:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(https://www.shinsegae.com/resources/site/img/main/ico_kv_play.png) no-repeat 0 0;
    opacity: 0;
}
.controls-button, .slide-side-text, .slide-content-cta {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.12rem;
  font-size: 0.7rem;
  line-height: 1;
}
[v-cloak] {
  opacity: 0;
}
.wrapper {
  height: calc(100vh - 106px);
  min-height: 36rem;
  position: relative;
}
.slide-wrapper {
  background-size: cover;
  height: 100%;
  background-position: center center;
  position: absolute;
  width: 100%;
  background-blend-mode: darken;
}
.slide-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide-inner {
  position: relative;
  z-index: 2;
  height: 100%;
  overflow: hidden;
}
.slide-bg-text {
  color: #000;
  font-size: 42vh;
  line-height: 0.8;
  opacity: 0.03;
  font-weight: 900;
  margin-top: -4rem;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
  display:none;
}
.slide-content {
  color: #fff;
  margin-top: 5rem;
  position: absolute;
  top: 40%;
  left: calc(1vw + (.7) * 20vh);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.slide-content-text {
  font-size: 3.4rem;
  letter-spacing: 0.1rem;
  line-height: 0.84em;
  font-weight: 700;
  will-change: auto;
}
.slide-content-text .txt{
  font-size:1.2rem;
  opacity: 0.3 !important;
  color:#fff;
}
.slide-btn{
  color:#fff;
  font-weight:400;
  font-size:1.1rem;
  text-decoration: none;
  padding: 10px 40px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display:inline-block;
  line-height:1;
}
.slide-btn:hover{
  background:#fff;
  color:#222;
}

.slide-content-cta {
  cursor: pointer;
  align-self: flex-start;
  margin-top: 4.5rem;
  margin-left: calc((.3) * 48vh + 4.5rem);
  padding: 0.9rem 2.2rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 0.18s ease-in-out;
  font-weight: 700;
}
.slide-content-cta:hover {
  color: #000;
  background-color: #fff;
}
.slide-image-right:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.slide-average{
  position:absolute;
  top:0;
  left:0; 
  width:100%; 
  height:100%;
}
.slide-image-left{
  position:absolute;
  top:0;
  left:0; 
  width:6%; 
  height:100%;
  background-position:right; 
  background-size:cover; 
  opacity: 0.5;
  filter: saturate(1.4) brightness(0.9);
}
.slide-image-right{
  position:absolute;
  top:0;
  right:0; 
  width:36%; 
  height:100%; 
  filter:grayscale(0.6) brightness(0.5);
  background-position:center; 
  background-size:cover;  
  opacity: 0.7;
  overflow:hidden;
}
.slide-image-right::after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
	background:rgba(0,0,0,0.3);
	filter:blur(40px);
}
.slide-rect {
  height: 58vh;
  width: 66vh;
  position: absolute;
  top: 12vh;
  right: 0;
  box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
  will-change: auto;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  overflow:hidden;
}
.slide-rect img{
  width:auto;
  height:100%;
}
.circTxt{
  position:absolute;
  top: 5vh;
  right: 46vw;
  z-index:100;
  color:rgba(255,255,255, 0.6);
  opacity: 0.4;
}
.slide-rect-filter {
  filter: brightness(110%) contrast(110%) saturate(110%);
}
.slide-side-text {
  display:none;
  position: absolute;
  left: calc(13vw - 3rem);
  writing-mode: vertical-rl;
  top: calc((50% - (62vh / 2)) + (5vh / 2));
}
.slide-side-text > span:first-child {
  font-weight: 700;
}
.slide-side-text:after {
  content: "";
  width: 1px;
  background-color: #fff;
  height: 40px;
  display: block;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  transform: translateX(-50%);
}
.controls-container {
  position: absolute;
  z-index: 200;
  display: flex;
  bottom: 0;
  right: 0;
  align-items: flex-end;
}
.controls-button {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  cursor: pointer;
  background-color: rgba(208, 206, 204, 0.32);
  border: 0;
  padding: 1.6rem 2.2rem;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 15rem;
  transition: 0.25s ease-in-out;
  outline: 0;
}

.controls-button:not(.active):hover {
  color: #000;
  background-color: #fff;
}
.controls-button.active {
  cursor: default;
  background-color: #3b3e45;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  margin-bottom: -0.3rem;
  position: relative;
  filter: hue-rotate(-0.05turn) saturate(3);
}
.controls-button.active:after {
  content: "";
  background-color: #e3e3e3;
  height: 5px;
  width: calc(100% - 8px);
  position: absolute;
  top: 100%;
  left: 4px;
}
.controls-button:not(.active) + .controls-button {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-container {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.pagination-item {
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.18s ease-in-out;
}
.pagination-item + .pagination-item {
  margin-top: 1rem;
}
.pagination-item.active {
  background-color: #fff;
  position: relative;
  transform: translateX(-0.6rem);
  width: 35px;
}
.pagination-item.active:after {
  content: "";
  height: 4px;
  width: 2px;
  border-radius: 35%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(0.6rem) translateY(-50%);
}
.pagination-item:not(.active) {
  cursor: pointer;
}
.pagination-item:not(.active):hover {
  background-color: #fff;
  width: 35px;
}
.slide-wrapper {
  opacity: 0;
  transition-delay: 1.4s;
  transition-duration: 0s;
  transition-property: opacity;
  will-change: opacity, transform;
}
.slide-wrapper:not(.active) {
  animation-delay: 0.5s;
  animation-name: slideLeft;
  animation-duration: 0.9s;
  animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
  pointer-events: none;
}
.slide-wrapper:not(.active) .slide-content-text > p,
.slide-wrapper:not(.active) .slide-side-text {
  animation-name: cutTextUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  margin-bottom:40px;
  
}
.slide-wrapper:not(.active) .slide-rect {
  animation-name: rectMovement;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.slide-wrapper.active {
  transition-delay: 0s;
  opacity: 1;
}
.slide-wrapper.active .slide-content-text > p {
  opacity: 0;
  animation-delay: 0.8s;
  animation-name: cutTextDown;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  margin-bottom:40px;
}
.slide-wrapper.active .slide-rect {
  opacity: 0;
  animation-name: rectMovementFromRight;
  animation-duration: 0.45s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.is-previous .slide-wrapper:not(.active) {
  animation: none;
}
.is-previous .slide-wrapper:not(.active) .slide-rect {
  animation: none;
}
.is-previous .slide-wrapper.active {
  transform: translateX(-100%);
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-name: slideRight;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
}
.is-previous .slide-wrapper.active .slide-rect {
  opacity: 0;
  animation-name: rectMovementRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}

.first-load .slide-wrapper.active .slide-side-text,
.first-load .slide-wrapper.active .slide-content-cta,
.first-load .slide-wrapper.active .slide-rect,
.first-load .controls-container {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.first-load .slide-wrapper.active .slide-content-text > p {
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 0.7s;
  
}
#intro{
    padding:120px 0 0;
}
#intro .obj{
    position:relative;  
    padding:80px 0 130px; 
    text-align:center;
}
#intro .obj::before{
    content:"";
    position:absolute;
    top:240px;
    right:40px;
    width:220px;
    height:220px;
    border-radius:100%;
    background-image: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
    transform:translate3d(0px, 0px, 0px);
    animation: ball 3.5s alternate infinite both;
    transition:1s;
}
#intro .obj::after{
    content:"";
    position:absolute;
    top:-240px;
    left:0;
    width:300px;
    height:300px;
    border-radius:100%;
    background-image: radial-gradient(circle at 10% 20%, rgb(255, 229, 168) 0%, rgb(251, 174, 222) 100.7%);
    
    animation: ball 3s alternate infinite both;
}
#intro .obj .main-tit{
    font-size:2.2rem; 
    line-height:1.6;
}
#intro .obj .main-txt{
    font-size:1.2rem; 
    line-height:1.6; 
    color:#aaa;
    margin-top:30px;
}


/* 입양후기 */
#AdoptReview-wrap{
	padding-top: 60px; 
	background:rgb(244 241 242);
}
#AdoptReview{
    padding:120px 0;
    background: url(http://www.ijoapark.com/images/m_visual2.png) rgb(244 241 242);
    /*background: url(../images/m_visual2.jpg) rgb(244 241 242);*/
    background-repeat: no-repeat;
}
#AdoptReview .tit_area{
    text-align:center;
}
#AdoptReview .tit_area .main_tit{
    font-size:4rem;
}
#AdoptReview .tit_area .main_txt{
    margin-top:20px;
    font-size:1.4rem; 
    font-weight:400; 
    color:#aaa; 
    font-family: 'Noto Sans KR', sans-serif;
}
#AdoptReview .btn-wrap{
    margin-top:40px;
    text-align:center;
}
#AdoptReview .view_btn{
    display:inline-block;
    text-decoration: none;
    color:#222;
    font-size:1rem;
    padding:6px 30px;
    border-right:1px solid #222;
    border-left:1px solid #222;
}
#AdoptReview .view_btn:hover{
    background:#222;
    color:#fff;
}
.tab-btn{
    margin-top:40px;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
}
.tab-btn button{
    position:relative;
    height:60px;
    border:0;
    background:0;
    font-size:2.2rem;
    font-weight:600;
    color:#777;
    margin-left:20px;
    cursor: pointer;
}
.tab-btn button:first-of-type{
    margin-left:0;
}
.tab-btn button.active{
    color:#222;
}
.tab-btn button.active::before{
    content:"";
    position:absolute;
    left:0;
    bottom:10px;
    width:100%;
    height:3px;
    background:#aaa;
}
#AdoptReview .gallery_wrap,
#AdoptReview .gallery_wrap .gallery_list{
    list-style:none;
}
#AdoptReview .gallery_wrap{
    display:flex;
    flex-wrap:wrap;
    margin-top:60px;
    padding:0;
}
#AdoptReview .gallery_wrap .gallery_list{
    position:relative;
    padding:20px;
    height:380px;
    margin-bottom:30px;
    background-size:cover;
    background-position:center;
    filter: brightness(1.2) saturate(1.1);
    overflow:hidden;
}
#AdoptReview .gallery_wrap .gallery_list::after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgb(14 0 29 / 50%);
	z-index:0;
	display:none;
}
#AdoptReview .gallery-txt{
    width:100%;
    position:absolute;
    left:0;
    height:16em;
    bottom:calc(-10em);
    color:#fff;
    background-image: linear-gradient(109.6deg, rgba(184, 114, 255, 0.8) 11.2%, rgba(125, 89, 252, 0.8) 91.1%);
    padding:20px 20px;
    font-family: 'Noto Sans KR', sans-serif;
    transition:1s;
    z-index:1;
}
#AdoptReview .gallery_wrap .gallery_list:hover::after{
	display:block;
}
#AdoptReview .gallery_wrap .gallery_list:hover .gallery-txt{
	transition:1s;
	bottom:0;
}
#AdoptReview .gallery-txt .btn{
	padding:0;
    color:rgba(255, 255, 255, 0.7);
    font-size:1.2rem;
}
#AdoptReview .gallery-txt .btn:hover{
    text-decoration: underline;
}
#AdoptReview .gallery-type{
	font-size:0.9rem;
	color:rgba(255, 255, 255, 0.7);;
}
#AdoptReview .gallery-tit{
    font-weight:500;
    margin-bottom:10px;
    font-size:1.2rem;
    height: 1.5rem;
    overflow: hidden;
}
#AdoptReview .gallery-cont{
    font-weight:300;
    height:6em;
    overflow: hidden;
    margin-bottom:10px;
    font-size:0.9rem;
}
/* family 부분 */
#AdoptFamily{
    text-align:center; 
    padding:120px 0 40px;
}
#AdoptFamily .tit-area{
    margin-bottom:60px;
}
#AdoptFamily .tit-area .main-tit{
    font-size:4rem; 
}
#AdoptFamily .tit-area .main-txt{
    font-size:1.4rem; 
    font-weight:400; 
    color:#aaa; 
    font-family: 'Noto Sans KR', sans-serif;
    margin-top:30px;
}
#AdoptFamily .grid-wrap{
    display:flex;
}
#AdoptFamily .grid-wrap .grid-left{
    border-right:1px solid #ddd; 
    padding: 0 20px; 
    position: relative;
}
#AdoptFamily .grid-left .gallery-wrap{
    margin-bottom:60px; 
    list-style:none; 
    position:sticky; 
    height:auto; 
    top:30px;
}
#AdoptFamily .gallery-thumb{
    background-position:center; 
    background-size:cover; 
    background-repeat:no-repat; 
    position:relative;
    margin-bottom:10px;
}
#AdoptFamily .grid-left .gallery-thumb{
    height:400px; 
}
#AdoptFamily .grid-right .gallery-thumb{
  height:300px; 
}
#AdoptFamily .grid-left .gallery-thumb::before{
    content:"";
    background:transparent url(../images/hat.jpg) no-repeat 0px 0px;
    background-size:cover;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    width:100px;
    height:140px;
}
#AdoptFamily .location-stemp{
    padding:2px 6px; 
    filter: brightness(1.2);
    background:radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%); 
    font-size:0.8rem; 
    font-family: 'Noto Sans KR', sans-serif;
}
#AdoptFamily .new-stemp{
    padding:2px 6px; 
    background: radial-gradient(circle at 10% 20%, rgb(255, 229, 168) 0%, rgb(251, 174, 222) 100.7%); 
    font-size:0.8rem; 
    font-family: 'Noto Sans KR', sans-serif;
}
#AdoptFamily .txt-wrap{
    padding:0 20px; 
    text-align:center;
}
#AdoptFamily .adopt-tit{
    font-size:1.2rem; 
    font-family: 'Noto Sans KR', sans-serif;
    margin:10px 0 6px;
}
#AdoptFamily .adopt-txt{
     font-size:0.9rem; 
     color:#777; 
     font-family: 'Noto Sans KR', sans-serif;
}
#AdoptFamily .grid-wrap .grid-right{ 
    display:flex; 
    flex-wrap:wrap;
}
#AdoptFamily .grid-right .gallery-wrap{
   margin-bottom:30px; 
   list-style:none; 
   border-right:1px solid #ddd; 
   padding: 0 20px;
}



/* media query */
@media (max-width: 576px) {
	.slide-content-text {
	    font-size:2.2rem;
	}
	  
}
@media (min-width: 576px) {
	.slide-content-text{
		font-size:2.2rem;
	}
}
@media (min-width: 768px) {
	
}
@media (max-width: 992px) {
	/* 그리드 변경 */
	.wrapper{
		height:86vh;
		min-height:0;
	}
	.slide-content{
		left:0;
		width:100%;
	}
	.slide-content-text{
		text-align:center;
	}
	
	/* 디자인이 들어가 화면을 가릴수있는부분은 삭제 */
	.nav-bar .logo span{
		display:none;
	}
	.circTxt{
		display:none;
	}
	.btns_viewmore{
		display:none;
	}
	.slide-rect{
		display:none;
	}
	.slide-image-right{
		width:100%;
	}
	.controls-container{
		display:none;
	}
	.pagination-container{
		display:none;
	}
	#intro .obj::before,
	#intro .obj::after{
		display:none;
	}
	
	/* 변경 */
	#intro{
		padding:0;
	}
	#intro .obj{
		padding:100px 0;
	}
	#intro .obj .main-tit{
		font-size:1.5rem;
	}
	#intro .obj .main-txt{
		font-size:1rem;
	}
	#AdoptReview{
		padding:80px 0;
        background-size:0;
	}
	#AdoptReview .tit_area .main_tit,
	#AdoptFamily .tit-area .main-tit{
		font-size:2.2rem;
	}
	#AdoptReview .tit_area .main_txt,
	#AdoptFamily .tit-area .main-txt{
		font-size:1rem;
	}
	.tab-btn button{
		font-size:1.6rem;
	}
	
	#AdoptFamily .grid-wrap .grid-left,
	#AdoptFamily .grid-right .gallery-wrap,
	#AdoptFamily .grid-wrap .grid-right{
		border:0;
		padding:0;
	}
	#AdoptFamily .grid-right .gallery-thumb{
		height:400px;
	}
	
	
}
@media (min-width: 992px) {
	.slide-content-text{
		font-size:2.8rem;
	}
	#AdoptReview{
        background-position: 12rem 1rem;
    	background-size: 95%;
	}
}
@media (min-width: 1200px) {
	#AdoptReview{
        background-position: 16rem -2rem;
    	background-size: 90%;
	}
}
@media (min-width: 1400px) {
	#AdoptReview{
        background-position: 17rem -6rem;
    	background-size: 88%;
	}
}
